@keyframes ldio-9ixgeoaxec {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5, 1.5);
  }

  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}

.ldio-9ixgeoaxec div>div {
  position: absolute;
  width: 15.04px;
  height: 15.04px;
  border-radius: 50%;
  background: #bcff87;
  animation: ldio-9ixgeoaxec 1.25s linear infinite;
}

.ldio-9ixgeoaxec div:nth-child(1)>div {
  left: 123.5px;
  top: 73.5px;
  animation-delay: -1.09375s;
}

.ldio-9ixgeoaxec>div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 133.51999999999998px 83.52px;
}

.ldio-9ixgeoaxec div:nth-child(2)>div {
  left: 108.5px;
  top: 108.5px;
  animation-delay: -0.9375s;
}

.ldio-9ixgeoaxec>div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 118.52px 118.52px;
}

.ldio-9ixgeoaxec div:nth-child(3)>div {
  left: 73.5px;
  top: 123.5px;
  animation-delay: -0.78125s;
}

.ldio-9ixgeoaxec>div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 83.52px 133.51999999999998px;
}

.ldio-9ixgeoaxec div:nth-child(4)>div {
  left: 38.5px;
  top: 108.5px;
  animation-delay: -0.625s;
}

.ldio-9ixgeoaxec>div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 48.519999999999996px 118.52px;
}

.ldio-9ixgeoaxec div:nth-child(5)>div {
  left: 23.5px;
  top: 73.5px;
  animation-delay: -0.46875s;
}

.ldio-9ixgeoaxec>div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 33.519999999999996px 83.52px;
}

.ldio-9ixgeoaxec div:nth-child(6)>div {
  left: 38.5px;
  top: 38.5px;
  animation-delay: -0.3125s;
}

.ldio-9ixgeoaxec>div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 48.519999999999996px 48.519999999999996px;
}

.ldio-9ixgeoaxec div:nth-child(7)>div {
  left: 73.5px;
  top: 23.5px;
  animation-delay: -0.15625s;
}

.ldio-9ixgeoaxec>div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 83.52px 33.519999999999996px;
}

.ldio-9ixgeoaxec div:nth-child(8)>div {
  left: 108.5px;
  top: 38.5px;
  animation-delay: 0s;
}

.ldio-9ixgeoaxec>div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 118.52px 48.519999999999996px;
}

.loadingio-spinner-spin-ltb68itliwl {
  margin: 15% auto 0;
  width: 167px;
  height: 167px;
  display: block;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

.ldio-9ixgeoaxec {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-9ixgeoaxec div {
  box-sizing: content-box;
}