
$main-background-color: #cbcbcb;
$question-frame-color: #CAFFA0;
$active-button-color: #383838;
$input-background-color: #F5F5F5;
$input-border-color: #b4a8a8;
$input-hover-color: #eaeaea;
$text-color: #383838;
$placeholder-color: #9B9B9B;

$question-frame-width: 1216px;
$question-frame-height: 392px;
$inputs-frame-width: 576px;
$inputs-frame-height: 392px;
$border-radius-size: 24px;
$input-height: 56px;


$title-font: 500 32px "OnestMedium", sans-serif;
$text-font: 400 16px "OnestRegular", sans-serif;